*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 1em;
    line-height: 1.2;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background: #eee;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
}

header {
    text-align: center;
    margin-bottom: 1em;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

header h1 {
    color: #179595;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.05);
}

.main-table {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1.8em;
    padding-bottom: 0em;
}

.main-table td {
    padding: 10px;
    width: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-table th {
    padding: 0px 10px;
}

.tr-header {
    height: 0%;
}

.tr-small {
    height: 0%;
}

.tr-content tr {
    height: 100%;
}

.text-container {
    height: 100%;
    margin: auto;
    min-width: 160px;
}

textarea {
    width: 100%;
    resize: none;
    padding: 12px 20px;
    border: 2px solid #179595;
    border-radius: 5px;
    background-color: #fbfbfb;
    font-family: 'Consolas', monospace;
    height: 100%;
    box-sizing: border-box;
}

h4 {
    color: #444;
}

.github-icon {
    width: 16px;
    margin-bottom: -2px;
}

.github-icon-box {
    color: #006565;
    display:inline-block;
}

footer p {
    margin: 0;
    padding: 0;
    margin-top: -1em;
    text-align: right;
    color: #888;
}